.accueil{
    text-align:center;
}
.background{
    padding-top: 200px;
    height: max-content;
    background-position: 20%;
    background-image: url(../resources/Monitor2.jpg);
    background-size: cover;
}
.contnent{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    opacity: 0.9;
}
.contnent div{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    border-top: 5px solid black;
    background-color: black;
}
.contnent div h1{
    color: white;
    font-size: 25px;
    font-family:'Yellowtail', cursive;
}
.contnent div hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid goldenrod;
    max-width: 50px;
    border-width: 3px;
    border-radius: 6px;
}
.contnent div p{
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Montserrat', sans-serif;
}
.background2{
    background-color: white;
    color:black;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display:block;

}
.titre{
    text-align: center;
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
}

.img{

    padding: 5px;
    height: auto;
    width: 150px;
    clip-path: polygon(25% 0%, 100% 0%, 76% 100%, 0% 100%);
}
.description{
    display: flex;
    align-items: center;
    font-size: 23px;
    line-height: 2rem;
    font-family:'Yellowtail', cursive;
    column-gap: 5rem;
    padding-right: 10%;
}
.background3{
    background-color: rgba(71, 70, 70, 0.349);
    color:white;
    padding: 50px;
}
.competences ul{
    list-style-type: none;
}
.competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    
}
   
.box{
    border: solid white 1px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    color: black;
    width: 20rem;
    opacity: 0.9;
    margin-bottom: 5rem;
    font-family:'Montserrat', sans-serif;
    text-align: start;
    line-height: 3rem;
}
.box h3{
    font-size: 20px;
    text-align: center;
    
}
@media (max-width: 850px){
    .contnent div h1{
        font-size: 20px;
    }
    .contnent div p{
        font-size: 15px;
    }
    .box{
        font-size: 10px;
    }
    .box h3{
        font-size: 15px;
    }
    .titre{
        font-size: 20px;
    }
    .description{
        font-size: 18px;
    }
}


    