.mesure{
    background-image: url(../resources/Pc.jpg);
    padding-top: 10%;
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 20% ;
    height: max-content;
    flex-wrap: wrap;
    background-size: cover;
}
.contenu{
     display:block;
    padding-top: 5rem;
    padding-bottom: 2rem;
    right: 25%;
    left: 25%;
    min-width:fit-content ;
    border-radius: 10px;
    background-color:black;
    opacity:0.7;
    color: white;
    text-align: center;
    align-items: center;
    font-family:'Montserrat', sans-serif;
}

.icon{
    font-size:25px;
    padding-bottom: 5rem;
}
.icon :hover{
    color: white;
    cursor:grab;
}
.link{
    width: 2rem;
}

@media (max-width: 750px){
    .icon{
        font-size:18px ;
    }
    .mesure{
        padding-top: 50%;
        padding-bottom: 50%;
    }

}
@media (max-width: 850px){
    .icon{
        font-size:20px ;
    }
    .mesure{
        padding-top: 50%;
        padding-bottom: 50%;
    }
}
