
.img{
    height: 65vh;
    width: 70vw;
    border: solid 1px black;
    border-radius: 10px;
}
.titre{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
}
.intro{
    text-align: center;
    font-size: 25px;
    padding:2rem 25% 7rem ;
    font-family:'Montserrat',
}

.contenu{
    display: flex;
    text-align: center;
    padding:2rem 20% 5rem ;
    column-gap: 3rem;
    align-items: center;
    font-size: 20px;
    font-family:'Montserrat',

}
.partie2{
    text-align: center;
    font-size: 20px;
    font-family:'Montserrat',

}
@media (max-width: 1250px){
    .img{
        height: 30vh;
        width: 50vw;
    }
    .titre{
        font-size:15px ;
    }
    .intro{
        font-size: 15px;
    }
    .contenu{
        display: block;
        font-size: 15px;
    }
    .partie2{
        
        font-size: 15px;
        font-family:'Montserrat',
        
    }

}

