
.img{
    height: 70vh;
}

.img2{
    width: 75vw;
    height: 40vh;
}

.titre{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;

}
.partie1{
    text-align: center;
    display: block;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}
.partie2{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;

    
}
.contenu{
    display: flex;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5rem;
    column-gap: 10rem;
}

@media (max-width: 1250px){
    .contenu{
        display: block;
        font-size: 15px;
    }
    .img{
        height:50vh;
    }
    .img2{
        width:70vw;
        height: 20vh;
    
    }
    .titre{
        font-size:15px;
    }
    .partie2{
        font-size: 15px;
    }

}

