.footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height:5rem;
}

footer .links  img {
    width: 5rem;
    height: 3rem;
    object-position: 50% 50%;
    margin: 0;
}

