.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form label {
    display: flex;
    flex-direction: column;
    width:15rem;
}

.erreur {
    background-color: #a00;
    color: #fff;
    padding: .5rem;
}