.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:black;
    color: goldenrod;
    font-size: 20px;
    width: 100%;
}
.menu{
padding-right: 2%;
}



