.logo {
    font-family:"Montserrat",sans-serif;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1rem;
    white-space: nowrap;
    padding:auto;
    font-size: 1.5rem;
    padding-left:5% ;
}
.img{
    height:2rem;
}
@media (max-width: 750px){
    .logo{
        font-size: 1rem;

    }
}
