.list {
    display:flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    column-gap: 3rem;
    text-decoration: none;
}

.list :hover {
    color:goldenrod;
    cursor: pointer;
}


.actif{
    color: goldenrod;
    text-decoration: none;
}
.notactif{
    color: white;
    text-decoration: none;
}


@media (max-width: 740px){
    .list  {
        display: flex;
        text-align: center;
        font-size: 10px;
        text-decoration: none;
        padding-right:1rem; 
    }
}


